<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout2}">
<head>
    <meta charset="UTF-8">
    <title>Compose Mail</title>
</head>
<div class="p-2 add-staff createForm mb-5">
    <h4>Compose Mail</h4>
    <form method="post" th:action="${'/send'}" enctype="multipart/form-data">

        <div class="row">
            <div class="form-group col-md-4">
                <label>Sender Email</label>
                <input type="email" class="form-control mw-100" name="senderEmail" required>
            </div>

            <div class="form-group col-md-4">
                <label>Receiver Email</label>
                <input type="email" class="form-control mw-100" name="receiverEmail" required>
            </div>

            <div class="form-group col-md-4">
                <label>Subject</label>
                <input type="text" class="form-control mw-100" name="subject" required>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                <label>Message Body</label>
                <div id="sample">
                    <script type="text/javascript" src="http://js.nicedit.com/nicEdit-latest.js"></script> <script type="text/javascript">
                    //<![CDATA[
                    bkLib.onDomLoaded(function() {

                        new nicEditor({maxHeight : 300}).panelInstance('area2');
                    });
                    //]]>
                    </script>
                    <textarea name="content" style="height: 300px;" cols="80" id="area2">
                    Some Initial Content was in this textarea
                    </textarea>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label>Attachments</label>
                <input type="file" class="form-control" name="attachments" multiple>
            </div>
        </div>
        <div>
            <button class="btn-outline-success" name="button">send Mail</button>
        </div>
        <div id="sample">
            <script type="text/javascript" src="http://js.nicedit.com/nicEdit-latest.js"></script> <script type="text/javascript">
            //<![CDATA[
            bkLib.onDomLoaded(function() {
                new nicEditor().panelInstance('area1');
                new nicEditor({fullPanel : true}).panelInstance('area2');
                new nicEditor({iconsPath : '../nicEditorIcons.gif'}).panelInstance('area3');
                new nicEditor({buttonList : ['fontSize','bold','italic','underline','strikeThrough','subscript','superscript','html','image']}).panelInstance('area4');
                new nicEditor({maxHeight : 100}).panelInstance('area5');
            });
            //]]>
        </script>
            <h4>
                Default (No Config Specified)
            </h4>
            <p>
                new nicEditor().panelInstance('area1');
            </p>
            <textarea cols="50" id="area1">
</textarea>
            <h4>
                All Available Buttons {fullPanel : true}
            </h4>
            <p>
                new nicEditor({fullPanel : true}).panelInstance('area2');
            </p>
            <textarea cols="60" id="area2">
Some Initial Content was in this textarea
</textarea>
            <h4>
                Change Path to Icon File {iconsPath : 'path/to/nicEditorIcons.gif'}
            </h4>
            <p>
                new nicEditor({iconsPath : 'nicEditorIcons.gif'}).panelInstance('area3');
            </p>
            <textarea cols="50" id="area3">
</textarea>
            <h4>
                Customize the Panel Buttons/Select List
            </h4>
            <p>
                {buttonList : ['fontSize','bold','italic','underline','strikeThrough','subscript','superscript']}
            </p>
            <textarea cols="50" id="area4">
HTML content default in textarea
</textarea>
            <h4>
                Set a maximum expansion size (maxHeight)
            </h4>
            <p>
                {maxHeight : 100}
            </p>
            <textarea style="height: 100px;" cols="50" id="area5">
HTML content default in textarea
</textarea>
        </div>
    </form>
</div>

<body>

</body>
</html>